body {
    background-color: #024959;
    color: white;
    margin: 0px;
}


header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    color: #F2B705;
    font-size: 12px;
    background-color: #003642;
    padding: 5px;
    height: 60px;
}

h3 {
    display: flex;
    margin: 0px;
    justify-items: center;
    align-content: center
}

a, .phone { 
    display: flex;
    flex-wrap: wrap;
    color: #F2B705;
    text-decoration: none;
    border: black solid 1px;
    background-color: #024959;
    padding: 10px;
    height: 30px;
    width: 150px;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}


.main-image {
    position: relative;
    text-align: center;
}



.image-text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90px;
    width: 400px;
    font-size: 40px;
    background: rgba(0,0,0, .5) ;
    padding: 5px
}

.image-text2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0, .5) ;
    padding: 5px
}

.text-overlay {
    background-color: black;
}

.main-png {
    height: 1090px;
    width: 2025px;
    object-fit: cover;
}