body {
    background-color: #024959;
    color: white;
    margin: 0px;
}

/* Navbar Section */

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    color: #F2B705;
    font-size: 12px;
    background-color: #003642;
    padding: px;
    height: 60px;
}


h3 {
    display: flex;
    margin: 5px;
    justify-items: center;
    align-content: center;
    height: 51.6px;
}

a, .phone { 
    display: flex;
    flex-wrap: wrap;
    color: #F2B705;
    text-decoration: none;
    border: black solid 1px;
    background-color: #024959;
    padding: 10px;
    height: 30px;
    width: 150px;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

/* Main Image Section */

.main-image {
    position: relative;
    text-align: center;
}



.image-text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90px;
    width: 400px;
    font-size: 40px;
    background: rgba(0,0,0, .5) ;
    padding: 5px
}

.image-text2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0, .5) ;
    padding: 5px
}


.main-png {
    height: 1090px;
    width: 2025px;
    object-fit: cover;
    border: #003642 3px solid;
}

/* Summary Section */

.summary-image {
    object-fit: cover;
    height: 436px;
    width: 600px;
    display: flex;
    
    border: #003642 3px solid;
    border-radius: 15px;
    order: 3;
}

.summary-head {
    align-self: center;
    justify-self: center;
    font-size: 30px;
    order: 2;
    
}

.summary-body {
    align-self: flex-end;
    height: 61px;
    width: 466px;
    font-size: 20px;
    order: 1;
}


.summary {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 15px;
}

.summary-text {  
    align-self: center;
    height: 239px;
    width: 501px;
    border: black 1px solid;
    border-radius: 15px;
    background: #016E86;
    padding: 17px;
}

/* Purchasing Section */

.purchase-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #003642;
    height: 300px;
}

.purchase-head {
    justify-self: center;
    align-self: center

}

.purchase-body {
    justify-self: center;
    align-self: center;
    width: 466px;
    text-align: center;
}