body {
    background-color: #024959;
    color: white;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    
}

p {
    font-size: 20px;
}

h2 {
    color: #F2B705;
}

h1 {
    color: #F28705;
}

/* Navbar Section */

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    color: #F2B705;
    font-size: 12px;
    background-color: #003642;
    height: 60px;
}


h3 {
    display: flex;
    margin: 5px;
    justify-items: center;
    align-content: center;
    height: 51.6px;
}

.link, .phone { 
    display: flex;
    flex-wrap: wrap;
    color: #F2B705;
    text-decoration: none;
    border: black solid 1px;
    background-color: #024959;
    padding: 10px;
    height: 30px;
    width: 150px;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

.logo-text  {
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 4.2px;
    color: #F2B705;
    text-decoration: none;
    border: black solid 1px;
    background-color: #024959;
    padding: 10px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-right: 850px;
}


a {
    text-decoration: none;
    color: #F2B705;
}



.main-image {
    position: relative;
    text-align: center;
}



.image-text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90px;
    width: 400px;
    font-size: 40px;
    background: rgba(0,0,0, .5) ;
    padding: 5px
}

.image-text2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0, .5) ;
    padding: 5px
}


.main-png {
    height: 1090px;
    width: 2025px;
    object-fit: cover;
    border: #003642 3px solid;
}

/* Content Section */

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-content: space-around;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background: #003642;
    padding: 15px;
    margin: 50px;
    border-radius: 15px;
    width: 1217.840px;
    margin-left:19%;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.snake, .mouse, .alarm, .sprinklers {
    width: 556px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #016E86;
    border: #003642 solid 3px;
    margin: 100px;
}

.htext {
    height: 25px;
    font-size: 25px;
    color: #F2B705;
}

img {
    border: #003642 solid 3px;
}

/* Footer Section */

footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    background-color: #003642;
    
}

.logo2 {
    display: flex;
    border: black solid 3px;
    border-radius: 15px;
    
}

.logo2-text {
    justify-content: center;
    align-self: center;
    background-color: #024959;
    width: 250px;
    height: 50px;
    margin-left: 50px;
    padding: 25px;
    text-align: center;
    font-size: 35px;
    border: black solid 2px;
    border-radius: 15px;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: #F2B705;
    margin-right: 40%;
    padding: 15px;
}

.contacts {
    text-align: center;
    width: 271px;
    height: 84px;
    justify-self: flex-end;
    font-size: 15px;
}